  
@font-face{
  font-family: lombok;
  src: url('Lombok.otf');
}

#header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  height: 50px;
  background: #D3D3D3;
  text-align: right;
}

#button {
font-weight: bold;
position: relative;
display: inline-block;
margin-right: 4px;
background: #fefefe;
color: #d9e5f7;
padding: 8px;
padding-top: 3px;
padding-bottom: 3px;
font-size: 20px;
text-transform: uppercase;
text-align: center;
font-family: lombok;
top: 10px;
}

.button {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  maring-right: 10px;
  font-family: lombok;
}
