
@font-face{
  font-family: quarca;
  src: url('QuarcaCondLight.otf');
}

@font-face{
  font-family: oswaldesque;
  src: url('oswaldesque_light.ttf');
}

#header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  height: 50px;
  background: transparent;
  text-align: right;
}

#buttons {
position: relative;
display: inline-block;
margin-right: 4px;
color: #d9e5f7;
padding: 8px;
padding-top: 3px;
padding-bottom: 3px;
font-size: 20px;
text-transform: uppercase;
text-align: center;
font-family: quarca;
top: 1px;
word-spacing: 100px;
}

#buttons a {
  text-decoration: none;
}

.button {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  maring-right: 10px;
  font-family: quarca;
  color: #a1c0d6;
  font-size: 25px;
}

.logo {
  position: fixed;
  float: left;
}

.logo img {
  height: 50px;
  width: 150px;
  margin-top: 12px;
}

.button {
    background-color: transparent;
    color: #a1c0d6;
    padding: 16px;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

.button:hover {
  background-color: #dddedf;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .button {
    background-color: #dddedf;
}

#divya {
  float: right;
  margin: 0px 0px 15px 15px;
  margin-top: 150px;
  margin-right: 40px;
}

#anvitha {
  float: right;
  margin: 0px 0px 15px 15px;
  margin-top: 150px;
  margin-right: 80px;
}

#sam{
  float:right;
  margin: 0px 0px 15px 15px;
  margin-top: 150px;
  margin-right: 120px;
}

#jill {
  float: right;
  margin: 0px 0px 15px 15px;
  margin-top: 150px;
  margin-right: 160px;
}
