  
@font-face{
  font-family: quarca;
  src: url('QuarcaCondLight.otf');
}

#header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  height: 50px;
  background: #d2cccc;
  text-align: right;
}

#buttons {
font-weight: bold;
position: relative;
display: inline-block;
margin-right: 4px;
color: #d9e5f7;
padding: 8px;
padding-top: 3px;
padding-bottom: 3px;
font-size: 20px;
text-transform: uppercase;
text-align: center;
font-family: quarca;
top: 1px;
word-spacing: 100px;
}

#buttons a {
  text-decoration: none;
}

.button:hover{
  background-color: #eaeaea;
}

.button {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  maring-right: 10px;
  font-family: quarca;
  color: white;
  font-size: 35px;
}

#logo {
  position: fixed;
  float: left;
}
